body {
    margin : 0 ;
}



header {
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    height: 180px;
}

header img {
    width: 250px;
    margin-top: 90px;
    margin-left: 5px;
}


.title {
    font-size: 2.5em;
    margin-bottom: 0;
}


.under-title {
    color: #818181;
    font-size: 20px;
    margin-top: 0;
}


.under-title a {
    color: #2DAEE6;
    text-decoration: none;
    font-weight: 800;
}