body {
    margin : 0 ;

}



/* Stile dell'header (sfondo , immagine e colore di sfondo con il logo) */
    header {
        background-color: #4EA0FF;
        background-image: url("../img/pattern.png");
        height: 180px;
    }

    header img {
        width: 250px;
        margin-top: 90px;
        margin-left: 5px;
    }
/* ---------------------------------------------------------------------------------- */

/* Stile prima section (info , e vari under-title) */
    section .title {
        font-size: 2.5em;
        margin-bottom: 0;
    }


    .under-title {
        color: #818181;
        font-size: 20px;
        margin-top: 0;
    }


    .under-title a {
        color: #2DAEE6;
        text-decoration: none;
        font-weight: 800;
    }

/* ---------------------------------------------------------------------------------- */


/* Stile seconda section (figure (immagini e caption) ) */

section figure {
    margin-left: 5px;
}

/* ---------------------------------------------------------------------------------- */


/* Stile terza section (mark) */
section mark {
    background-color: yellow;
}

/* ---------------------------------------------------------------------------------- */


/* stile quarta section (lista non ordinata (ul) )  */
section ul {
    padding-left: 20px;
}

/* ---------------------------------------------------------------------------------- */

/* stile quinta section (table) */

table {
    text-align: left;
}


thead {
    background-color: #20A9E5;
    color: #fff;
 
}


td {
    width: 10%;
}

.row-color  {
    background-color: #B1E5F2;
}

/* ---------------------------------------------------------------------------------- */