body {
    margin : 0 ;
}



header {
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    height: 180px;
}

header img {
    width: 250px;
    margin-top: 100px;
    margin-left: 5px;
}